<ion-view title="Page" hide-nav-bar="true" id="page5">
  <ion-content padding="false" class="manual-ios-statusbar-padding" scroll="false">
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider1" delegate-handle="slider1" id="page-slider1" style="width:100%;height:100%;">
      <ion-slide-page id="page-slide24" style="background-color:#869DE2;">
        <div class="center-align">
          <img src="../img/marvel_heroes.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </div>
        <h3 id="page-heading2" style="color:#FFFFFF;text-align:center;">Busca tus comics!</h3>
        <div id="page-markdown2" style="text-align:center;" class="show-list-numbers-and-dots margin-container">
          <p style="color:#FFFFFF;">Con
            <strong>MarvelApp</strong> podrás buscar tus comics favoritos y ver sus detalles</p>
        </div>
      </ion-slide-page>
      <ion-slide-page id="page-slide28" style="background-color:#C53333;">
        <div class="center-align">
          <img src="img/capitan_america.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </div>
        <h3 id="page-heading4" style="color:#FFFFFF;text-align:center;">Compra tus comics!</h3>
        <div id="page-markdown4" style="text-align:center;" class="show-list-numbers-and-dots margin-container">
          <p style="color:#FFFFFF;">Con
            <strong>MarvelApp</strong> podrás dirigirte a la tienda oficial de Marvel</p>
        </div>
      </ion-slide-page>
      <ion-slide-page id="page-slide27" class="fondo-rgba">
        <div class="center-align">
          <img src="img/wolverine.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </div>
        <h3 id="page-heading3" style="color:#FFFFFF;text-align:center;">Ve detalle de tus comics favoritos</h3>
        <button id="page-button1" style="border-radius:50px 50px 50px 50px;" class="button button-default  button-block" ng-click="goHome()">Entrar a la aplicación!</button>
      </ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>